/*SITE DESENVOLVIDO POR: THAUANNY RAMOS PEREIRA */


/*======== 
  GERAL 
=========*/

body, p, h1, h2, input, textarea{
    margin: 0;
    font-family: 'Poppins', sans-serif;


}

h2{
    font-size: 30px;
}

/*======== 
  Navbar
=========*/

#navbar{
    background-color: #6D214F;
    color:            #f5f6fa;
    padding:          0 15px;
    height:           60px;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    z-index: 50;


}

#navbar h2, #navbar ul, .navbar-list li, #navbar nav{

    display: inline-block;   
         
}

#navbar h2{

    margin:      0;
    line-height: 60px;
    margin-left: 20px;
    font-size:   15px;

}

#navbar nav{

    float: right;
    margin-top: -25px;
    margin-right: 100px;


}

.navbar-list li{
    margin: 0 5px;

}

.navbar-list li img{

    height: 40px;

}

.navbar-list .git{
    
    position: absolute;

}

.navbar-list .twt{

    position: absolute;

}

.navbar-list .insta{

    position: absolute;
}


.navbar-list .git:hover{

    height: 35px;

} 

.navbar-list .insta:hover{

    height: 35px;
    
} 


.navbar-list .twt:hover{
    
    height: 35px;
    
} 


/*======== 
  Banner
=========*/

#main-banner{
    height:           70vh;
    background-image: url("../img_/bg-projeto.jpg");
    background-size:  cover;
    padding-top:      15vh;
    width: 100%;
 
}   

.banner-info{

    width:        40%;
    margin-right: auto;
    margin-left:  auto;
    text-align:   center;
    color:      #f5f6fa;
    padding:      50px;
    margin-top: -20px;
   
}

.banner-info h1{

	margin-right: auto;
	margin-left: 50px;
	text-align: center;

}

.banner-info span{

    display:block;
    padding-top: 20px;
 
    margin-top: 30px;
    font-size: 1.8rem;

}

.banner-info img{

    height:200px;
    margin-top: -130px;
    position: absolute;
 	margin-left:-86px;
 	margin-right: auto;

}


/*======== 
  About
=========*/
#sobre-section{
    text-align: center;
    background-color: #6D214F;
    color: #f5f6fa;
    padding-top: 50px;
    height: 350px;
}

#sobre-section h2{
    margin-bottom: 20px;
    margin-top:25px;
}

#sobre-section p{

    word-wrap: break-word;
    max-width: 650px;
    margin-right: auto;
    margin-left: auto;
    line-height: 30px;
}

/*======== 
 Conhecimentos
=========*/

#skills-section{
    margin-top: -100px;
    background-color: #f5f6fa;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    border: 2px solid #f1f2f6;
    border-radius: 10px;
    position: relative;
}

#skills-section .container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.skills-container{
    flex: 1 1;
    text-align: center;
    padding: 60px 25px;
    
}

.primeiro{
    border-right: 1px solid #ccc;
}

.skills-container h3{
    color: #6D214F;
    font-size: 20px;;
}

.skills-container img{
    height: 60px;
    border: 10px solid transparent;
    border-radius: 40%;
    background-color: #6D214F;
    margin-top: 25px;
    

}

.skills-container .subtitle{
    font-weight: bold;
    color: #2f3542;
    margin-top: 50px;
    margin-bottom: 15px;
}

.skills-container p{
    line-height: 25px;
    color: #2C3A47; 
}


/*======== 
   FOOTER
=========*/

#Footer{

    padding: 50px 0px;
    background-color: #6D214F;
    margin-top: -80px;
    height: 350px;
    text-align: center;
    color: #f5f6fa;
}

#Footer .texto-footer{

    margin-top: 90px;

}

#Footer .para-footer{

    margin-top: 40px;
    margin-bottom: 30px;

}

#Footer .contato{
    margin: 0;
    margin-left: -92px;
    position: relative;
    padding-bottom: 30px;



}

#Footer .contato-list, .contato li{
    display: inline-block;
}

#Footer .contato-list li{
    margin: 0 40px;

}

#Footer .contato .git{
    
    position: absolute;

}

#Footer .contato .twt{

    position: absolute;

}

#Footer .contato .insta{

    position: absolute;
}

#Footer .contato .git:hover{

    height: 60px;

} 

#Footer .contato .insta:hover{

    height: 60px;
    
} 


#Footer .contato .twt:hover{
    
    height: 60px;
    
}


#Footer .detail{

    margin-left: 20px;
    position: absolute;
}

#Footer .name-cpy{

    font-weight: bold;

}

#Footer .credits{

    
    margin-right: 20px;
    text-decoration: none;
    color: #f5f6fa;

}

   

#Footer .my_icon{

    
    margin-right: 20px;
    margin-top: 35px;
    text-decoration: none;
    color: #f5f6fa;

}

    #Footer .name-cpy:hover{
        color: #747d8c
    }

    #Footer .credits:hover{

        color: #747d8c;

    }

    #Footer .my_icon:hover{

        color: #747d8c;

    }



/*=======================
   RESPONSIVIDADE BANNER
=========================*/

@media(min-width: 1269px) {

    .banner-info span{
 
        height: 200px;
        position: relative;
    
    }
    
    .banner-info h1:before{
        content: "";
        display: block;
        width: 525px;
        height: 2px;
        background: #f5f6fa;
        position: absolute;
        left: 0;
        top: 50%;
        margin-left: auto;
        margin-right: auto;
        z-index: 20;
    }

    .banner-info h1:after{
        content: "";
        display: block;
        width: 500px;
        height: 2px;
        background: #f5f6fa;
        position: absolute;
        right: 0;
        top: 50%;
        margin-left: auto;
        margin-right: auto;
        z-index: 20;
    }
}

/*================= 
   TABLETS
===================*/

@media (max-width: 1268px) and (min-width: 706px) { 


	#main-banner{

		height: 70vh;

	}

	.banner-info span{

	    margin-top: -20px;
	    font-size: 2rem;
	    display: inline;
	   	position: absolute;
	   	margin-right: auto;
	   	margin-left: -220px;
	}


    .banner-info img{

    	height: 200px;
    	margin-top:120px;
   	 	position: absolute;
 		margin-left:-100px;
 		margin-right: auto;

        
    }
}

@media (max-width: 705px) and (min-width: 511px) { 


	.banner-info span{

	    margin-top: -10px;
	    font-size: 1.6rem;
	    display: inline;
	   	position: absolute;
	   	margin-right: auto;
	   	margin-left: -190px;
	}


    .banner-info img{

    	height: 200px;
    	margin-top:130px;
   	 	position: absolute;
 		margin-left:-100px;
 		margin-right: auto;

        
    }
}

/*===========================================
	MAX WIDTH 3000 AND MIN WIDTH 695  FOOTER
=============================================
*/


@media (max-width: 3000px) and (min-width: 695px) {

    #Footer{

        height: 300px;
    }


    #Footer .detail{


        position: absolute;
        margin-top: 20px;


    }  
 
    
    #Footer .credits{

       margin-top: 20px;
       float: right;


    }

    #Footer .my_icon{

       margin-top: 20px;
       float: right;


    }


    #Footer .contato{
        margin-top: -40px;
        margin-left: -92px;
        position: relative;
        padding-bottom: 30px; 
    
    }

    
    #Footer .contato-list, .contato li{
        display: inline-block;


    }
    
    #Footer .contato-list li{
        margin: 0 40px;

    
    }


    #Footer .contato .git{
    
        position: absolute;
        height: 50px;
    
    }
    
    #Footer .contato .twt{
    
        position: absolute;
        height: 50px;
    
    }
    
    #Footer .contato .insta{
    
        position: absolute;
        height: 50px;
    }


} 


/*========================================
	MAX WIDTH 694 AND MIN WIDTH 511 FOOTER
===========================================
*/

@media (max-width: 694px) and (min-width: 511px) {


	#Footer{

		height: 550px;
	}
	
    #Footer .my_icon{

        
        margin-top: 2%;
        display: block;
        position: absolute;
        margin-left: 43%;

     

    }

    #Footer .credits{
     
        margin-top: 25%;
        position: relative;
        display: inline-block;
        padding-bottom: 20px;


}

    #Footer .detail{

    
        margin-top: 15%;
        position: absolute;
        display: block;
        margin-left: 23%;

    }




}

/*==================== 
 	MAX WIDTH  510
===================*/

@media(max-width: 510px){

    p, input, textarea{

        font-size: 1.2rem;  
    }


/*================= 
  NAVBAR  MOBILE
===================*/

    #navbar nav{

        float: right;
        margin-top: -1.5rem;
        margin-right: 5rem;

    }

    .navbar-list li{
        margin: 0 1px;

    }

    .navbar-list li img{

        height: 40px;

    }

/*================= 
  BANNER  MOBILE
===================*/

  
	.banner-info span{

	    margin-top: -10px;
	    font-size: 1.5rem;
	    display: inline;
	   	position: absolute;
	   	margin-right: auto;
	   	margin-left: -175px;
	}


    .banner-info img{

    	height: 180px;
    	margin-top:130px;
   	 	position: absolute;
 		margin-left:-90px;
 		margin-right: auto;

        
    }

/*================= 
  ABOUT  MOBILE
===================*/

    #sobre-section h2 {
        font-size: 1.2rem;
 

    }

    #sobre-section p{
        font-size: 1rem;
        padding-bottom: 2rem;

    }
    
    #sobre-section{
        
        padding: 2rem;
        height: auto;
        padding-bottom: 50px;

    }

/*================= 
  SKILLS MOBILE
===================*/

    #skills-section{
        margin-top: -35px;
        width: 90%;
    }

    #skills-section .container{

        flex-direction: column;
       
    }

    .primeiro{

        border-right: 1px solid transparent;
        border-bottom: 1px solid #ccc;        
    }


    .skills-container{

        padding: 50px;
    }

/*================= 
  FOOTER MOBILE
===================*/

    #Footer{

        height:600px;
    }

    #Footer .contato-list, .contato li{
    	display: inline-block;
    	margin-bottom: 50px;
	}


}


/*=========================================
	MAX WIDTH 510 AND MIN WIDTH 379 FOOTER
===========================================
*/

@media (min-width: 379px) and (max-width: 510px){


  #main-banner{

		height: 55vh;

	}

	.banner-info span{

	    margin-top: -10px;
	    font-size: 1.5rem;
	    display: inline;
	   	position: absolute;
	   	margin-right: auto;
	   	margin-left: -175px;
	}


    .banner-info img{

    	height: 180px;
    	margin-top:130px;
   	 	position: absolute;
 		margin-left:-90px;
 		margin-right: auto;

        
    }


    #Footer .my_icon{

        
     	margin-top: -23%;
        display: block;
        position: absolute;
        padding-top: 20px;
        margin-left: 42%;
        font-size: 1.2rem;

     

    }

    #Footer .credits {
     
        margin-top: 20%;
        padding-top: 20px;
        position: relative;
        display: inline-block;
		margin-left: 5%;

	}


    #Footer .detail{

    	margin-top: 35%;
        position: absolute;
        padding-top: 20px;
        display: block;
        margin-left: 5%; 

    }
}

/*==========================
	MAX WIDTH 378	FOOTER
============================
*/

@media (max-width: 378px){


	#Footer{

		height: 700px;
	}



    #Footer .my_icon{

        
     	margin-top: 5%;
        display: block;
        position: absolute;
        padding-top: 20px;
        margin-left: 39%;
        font-size: 1.2rem;

     

    }

    #Footer .credits {
     
        margin-top: 20%;
        padding-top: 30px;
        position: relative;
        display: inline-block;
		margin-left: 5%;

}


    #Footer .detail{

    	margin-top: 35%;
        position: absolute;
        padding-top: 40px;
        display: block;
        margin-left: 5%; 

    }

}


/*==========================================
	MAX WIDTH 378 AND MIN WIDTH 270	IPHONE
============================================
*/


@media (max-width: 378px) and (min-width: 270px) {

    /*================= 
    BANNER IPHONE
    ===================*/

  #main-banner{

		height: 43vh;

	}

	.banner-info span{

	    margin-top: -30px;
	    font-size: 1.3rem;
	   	margin-right: auto;
	   	margin-left: -175px;
	}


    .banner-info img{

    	height: 150px;
    	margin-top:80px;
   	 	position: absolute;
 		margin-left:-73px;
 		margin-right: auto;

        
    }

} 

